@charset "UTF-8";
.bxsh-first {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.bgset {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-100%, rgba(205, 235, 242, 0.7)), to(transparent)), rgba(205, 235, 242, 0);
  background: linear-gradient(180deg, rgba(205, 235, 242, 0.7) -100%, transparent 100%), rgba(205, 235, 242, 0);
}

.out-bxshin {
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  -webkit-box-shadow: inset 0px 4px 24px #7ACBDD;
          box-shadow: inset 0px 4px 24px #7ACBDD;
  background-color: white;
}

.title-item {
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.title-item h2 {
  color: rgb(122, 203, 221);
  text-align: center;
  padding: 0.25em;
  border-top: solid 2px rgb(122, 203, 221);
  border-bottom: solid 2px rgb(122, 203, 221);
}

h2.svg-check {
  padding: 10px 10px 10px 45px;
  position: relative;
}
h2.svg-check::before {
  content: url(../images/svg/svg-check.svg);
  width: 30px;
  height: 57px;
  position: absolute;
  top: 0;
  right: calc(100% - 25px);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.title-item h3 {
  /* 方法項目標題 */
  text-align: center;
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: auto;
  /* 背景 */
  background: #F2F2F2;
  -webkit-box-shadow: inset 0px 10px 10px -7px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 10px 10px -7px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}
.title-item h3 span + span {
  margin-left: 10px;
}

h3.svg-check {
  padding: 5px 0px 5px 15px;
}
h3.svg-check + span {
  margin-right: -8px;
}
h3.svg-check::after {
  content: url(../images/svg/svg-check.svg);
  width: 60px;
  height: 57px;
  position: relative;
  right: -8px;
}

.card {
  /* 卡片樣式 包含邊框|色塊投影|毛玻璃背景 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  isolation: isolate;
  /* 背景色 */
  background: rgba(255, 255, 255, 0.8);
  /* 色塊投影 */
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--bxsh-width) 0px rgb(122, 203, 221);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--bxsh-width) 0px rgb(122, 203, 221);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  /* 邊框 設定 */
  border: var(--card-bd) solid rgb(122, 203, 221);
  border-radius: var(--bdrs);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.card:hover {
  /* 邊框 設定 */
  border: var(--card-bd) solid #fcc661;
}
.card:active {
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  /* 色塊投影 */
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 0px rgb(122, 203, 221);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 0px rgb(122, 203, 221);
}

.card-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.txt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.product-list {
  overflow-x: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  padding: 20px 0;
}
.product-list .product-item {
  min-width: 350px;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.product-list .product-item .tag {
  background-color: rgb(242, 68, 5);
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 16px;
  left: -6px;
}
.product-list .product-item .tag::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  border-color: red;
  border-top: 6px solid #a00;
  border-left: 6px solid rgba(0, 255, 0, 0);
}
.product-list .product-item .item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  aspect-ratio: 1/1;
}
.product-list .product-item p {
  padding: 0 30px;
}
.product-list .product-item p.h4 {
  font-weight: bold;
}
.product-list .product-item .price {
  padding: 15px 30px;
  text-align: right;
}

.product-item-more {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 20px);
}
.product-item-more:hover + .des-table {
  max-height: 1000px;
}

.des-table {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: rgb(70, 64, 116);
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.des-table:hover, .des-table:active {
  max-height: 500px;
}
.des-table .tr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.des-table .tr:last-of-type::after {
  background-color: transparent;
  height: 4px;
}
.des-table .td {
  padding: 6px;
}
.des-table .td:first-of-type {
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.2);
  width: 120px;
}
.des-table .td:last-of-type {
  text-align: right;
  padding-right: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}