@charset "UTF-8";
/* 自適應控制 導覽列切換-------------------------- */
header {
  z-index: 9;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  position: relative;
}

.logo img {
  max-height: 40px;
  vertical-align: middle;
}

#menu-switch {
  display: none;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav a {
  color: #fff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

@media screen and (max-width: 1023px) {
  .main-nav a + a {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  #menu-switch:checked + .main-header .main-nav {
    pointer-events: auto;
    opacity: 1;
    height: 480px;
    -webkit-transition: opacity 0.5s, height 0.3s;
    transition: opacity 0.5s, height 0.3s;
  }
  .main-nav {
    pointer-events: none;
    opacity: 0;
    height: 240px;
    -webkit-transition: opacity 0.3s 0.1s, height 0.8s;
    transition: opacity 0.3s 0.1s, height 0.8s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: rgb(96, 90, 140);
    left: 0;
    top: 100%;
  }
  .main-nav a {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .main-nav a:hover {
    color: rgb(242, 159, 5);
  }
  .hb {
    width: 40px;
    height: 40px;
    background-color: transparent;
    position: relative;
  }
  .hb span {
    width: 84%;
    height: 4px;
    background-color: rgb(96, 90, 140);
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    rotate: 0deg;
    border-radius: 4px;
  }
  .hb span:nth-child(1) {
    top: 8px;
    -webkit-transition: top 0.5s 0.5s, rotate 0.5s;
    transition: top 0.5s 0.5s, rotate 0.5s;
  }
  .hb span:nth-child(2) {
    top: 18px;
    -webkit-transition: opacity 0.5s 0.5s;
    transition: opacity 0.5s 0.5s;
    opacity: 1;
  }
  .hb span:nth-child(3) {
    top: 28px;
    -webkit-transition: top 0.5s 0.5s, rotate 0.5s;
    transition: top 0.5s 0.5s, rotate 0.5s;
  }
  #menu-switch:checked + .main-header .hb span:nth-child(1) {
    top: 18px;
    rotate: 45deg;
    -webkit-transition: top 0.5s, rotate 0.5s 0.5s;
    transition: top 0.5s, rotate 0.5s 0.5s;
  }
  #menu-switch:checked + .main-header .hb span:nth-child(2) {
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
    opacity: 0;
  }
  #menu-switch:checked + .main-header .hb span:nth-child(3) {
    top: 18px;
    rotate: -45deg;
    -webkit-transition: top 0.5s, rotate 0.5s 0.5s;
    transition: top 0.5s, rotate 0.5s 0.5s;
  }
  @-webkit-keyframes fade-in {
    to {
      opacity: 1;
      height: calc(100vh - 60px);
    }
  }
  @keyframes fade-in {
    to {
      opacity: 1;
      height: calc(100vh - 60px);
    }
  }
}
@media screen and (min-width: 1024px) {
  .hb {
    pointer-events: none;
    opacity: 0;
  }
  .logo {
    min-width: 208px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-right: 5%;
  }
  .main-header {
    padding: 0px;
  }
  .main-nav, .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 25px;
    gap: 8px;
    color: rgb(96, 90, 140);
  }
  .main-nav a:hover {
    color: rgb(242, 159, 5);
  }
}