@charset "UTF-8";
/* 大標介紹樣式 */
.about {
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about h2 {
  margin-bottom: 35px;
}

.about-card.out-bxshin {
  max-width: 890px;
  border: 8px solid transparent;
  -o-border-image: conic-gradient(from 215.28deg at 52.22% 50%, #A0E3F2 0deg, #FFCC6F 360deg);
     border-image: conic-gradient(from 215.28deg at 52.22% 50%, #A0E3F2 0deg, #FFCC6F 360deg);
  border-image-slice: 1;
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 8rem 4rem;
}

.next-page {
  overflow: hidden;
}

.title-item h3.svg-check {
  z-index: 1;
}

.method-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 20px 1fr 20px 1fr 20px 1fr;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr;
      grid-template: repeat(4, 1fr)/repeat(6, 1fr);
  gap: 20px;
}

.method-block {
  width: 100%;
  position: relative;
}
.method-block img {
  height: auto;
}

.method-input {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 2/1/5/5;
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
}
.method-input .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.method-input .card .txt {
  border-radius: 0 0 var(--bdrs) var(--bdrs);
}

.form-card {
  width: 470px;
  height: 284px;
  overflow: hidden;
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*  (方法一) 按鈕定位控制  */
.form-card-out {
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.question-1 {
  position: relative;
}
.question-1 .card-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-1 .method-input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1/1/6/7;
  gap: 20px;
}

.method-1-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 350px;
}

.method-1-bg img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.question-2 .method-input, .question-3 .method-input, .question-4 .method-input {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1/1/5/7;
}

.question-2 .btn-group, .question-3 .btn-group, .question-4 .btn-group {
  border-radius: var(--innerbdrs) var(--innerbdrs) 0 0;
}
.question-2 .card, .question-3 .card, .question-4 .card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 430px;
  min-width: 120px;
}
.question-2 .card:hover p, .question-2 .card:active p, .question-3 .card:hover p, .question-3 .card:active p, .question-4 .card:hover p, .question-4 .card:active p {
  /* 足夠大的值，以顯示完整的內容 */
  max-height: 700px;
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.1s, max-height 0.7s;
  transition: opacity 0.5s 0.1s, max-height 0.7s;
}
.question-2 .card:hover ul, .question-2 .card:active ul, .question-3 .card:hover ul, .question-3 .card:active ul, .question-4 .card:hover ul, .question-4 .card:active ul {
  max-height: 1000px;
  opacity: 1;
  -webkit-transition: opacity 0.5s max-height 0.3s;
  transition: opacity 0.5s max-height 0.3s;
}
.question-2 .card p, .question-2 .card ul, .question-3 .card p, .question-3 .card ul, .question-4 .card p, .question-4 .card ul {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.5s 0.1s, max-height 0.7s;
  transition: opacity 0.5s 0.1s, max-height 0.7s;
}
.question-2 .card li, .question-3 .card li, .question-4 .card li {
  padding-left: 20px;
}
.question-2 .card li::before, .question-3 .card li::before, .question-4 .card li::before {
  content: "▪";
  display: inline-block;
  margin-left: -20px;
}

.question-2 {
  position: relative;
}
.question-2 > * {
  z-index: 1;
}
.question-2 .method-2-blob1, .question-2 .method-2-blob2 {
  position: absolute;
  z-index: 0;
}
.question-2 .method-2-blob1 {
  width: 629.14px;
  height: 554.03px;
  right: -150px;
  top: 0;
}
.question-2 .method-2-blob2 {
  width: 403.91px;
  height: 273.99px;
  left: -74.56px;
  bottom: 0px;
}

.question-3 {
  position: relative;
}
.question-3 > * {
  z-index: 1;
}
.question-3 .method-input_img {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-3 .logo_system_img {
  padding-top: 20px;
  font-size: 150px;
}
.question-3 .method-3-blob, .question-3 .method-3-bg {
  position: absolute;
  z-index: 0;
}
.question-3 .method-3-blob {
  width: 482.04px;
  height: 477.3px;
  right: -150px;
  top: 0;
}
.question-3 .method-3-bg {
  width: 350px;
  left: -88px;
  bottom: 0px;
}

.question-4 {
  position: relative;
}
.question-4 .form-range {
  max-width: 800px;
  margin-bottom: 20px;
  z-index: 1;
}
.question-4 .btn-group {
  padding: 50px 0;
}

.question-4 .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}
.question-4 .method-4-blob {
  position: absolute;
  z-index: 0;
  width: 1330px;
  height: 1171px;
  right: -837px;
  top: 127px;
}

.question-5 {
  position: relative;
}

.svg-fromTo-bg img, .svg-fromTo-bg svg {
  position: absolute;
  top: 200px;
  width: 100vw;
  z-index: 0;
}

.question-5 .method-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.question-5 .about-card.out-bxshin {
  z-index: 1;
  padding: 4rem 4rem;
}
.question-5 .about-dec {
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  /* 自動編排 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px;
  line-height: 180%;
}

.question-final {
  background-color: rgb(122, 203, 221);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.question-final .final-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  position: relative;
}
.question-final .final-group .turn-next-btn {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--bxsh-width) 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--bxsh-width) 0px rgba(255, 255, 255, 0.8);
}
.question-final .final-group .turn-next-btn:active {
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 0px rgba(255, 255, 255, 0.8);
}

.exclamation {
  position: absolute;
  width: 77.37px;
  height: 247.58px;
  /* white */
  opacity: 0.4;
  -webkit-transform: rotate(-15deg) translate(-250%, -20%);
          transform: rotate(-15deg) translate(-250%, -20%);
}

section.best-advice {
  background-color: rgb(122, 203, 221);
}

@-webkit-keyframes ani_s {
  0% {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes ani_s {
  0% {
    -webkit-transform: translateY(2em);
            transform: translateY(2em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes ani_e {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
@keyframes ani_e {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
  90% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}
.ani_end {
  -webkit-animation: ani_e 0.6s 1;
          animation: ani_e 0.6s 1;
}

form#answer.start_btn {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(255, 215, 0, 0.5);
}

#q1_alert {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 1/5/2/7;
}

#q1_alert:has(span) {
  background-color: rgb(242, 68, 5);
  border: 1px solid rgb(242, 68, 5);
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 20px;
  z-index: 9;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  transtion: 0.5s;
  -webkit-animation: ani_s 0.3s 1;
          animation: ani_s 0.3s 1;
}

#q1_alert.ani_end:has(span) {
  transtion: 0.2s;
  background-color: rgb(122, 203, 221);
  border: 1px solid rgba(255, 255, 255, 0.8);
  color: #000;
}

@media (orientation: landscape) {
  .about:after {
    content: "";
  }
  .method-1-bg {
    max-width: 500px;
  }
  .method-1-bg img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (orientation: portrait) {
  .about:after {
    margin-right: 0%;
    content: "";
  }
  .method-1-bg img {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media screen and (min-width: 768px) {
  .swiper {
    min-width: 470px;
    height: 284px;
  }
}
@media screen and (min-width: 1024px) {
  .swiper {
    width: 470px;
    height: 284px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper {
    width: 470px;
    height: 284px;
  }
}
@media screen and (max-width: 768px) {
  .about-card.out-bxshin {
    padding: 2rem 1rem !important;
  }
  .method-input {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .question-2 .card, .question-3 .card, .question-4 .card {
    max-width: 100%;
  }
}