$color_primary: rgba(160, 227, 242, 1)
$color_secondary: rgba(242, 159, 5, 1)
$color_red: rgba(242, 68, 5, 1)
$color_info: rgba(201, 189, 242, 1)
$color_dark: rgba(96, 90, 140, 1)

$color_primary_minus1: rgba(205, 235, 242, 1)
$color_primary_add1: rgba(122, 203, 221, 1)

$color_secondary-light: lighten($color_secondary,20)

$color_dark-add1: rgba(70, 64, 116, 1)

$color_bg: #f5f5f5
$color_white: rgba(#fff,.8)
$color_black: #000
$color_black_20: rgba(0,0,0,.2)

// 文字描述背景
$txt_bgset: linear-gradient(180deg, rgba($color_primary_minus1, 0.7) -100%, transparent 100%), rgba($color_primary_minus1, 0)

// 首頁錯位單位
$move-left: 144px
$left-navbar: 220px

//外陰影 
$first-page-bxsh: 0px 4px 30px rgba(0, 0, 0, .1)

//打勾長度
$stroke-line: 38px

$color_primary_dark: darken($color_primary,10)

$color_bg: #f5f5f5
$color_white: #fff

$color_font: rgba(0, 0, 0, .8)
$color_font_s: rgba(0, 0, 0, .6)
$color_border: rgba(0, 0, 0, .2)
$color_shadow: rgba(0, 0, 0, .2)

$color_search_bg: #eee
$color_b_4: rgba(0, 0, 0, .4)

$fontsize_Small_a: 14px
$fontsize_Small_b: 12px

$btn_height: 40px

$bd_radius: 4px
$btn_radius: 4px

@mixin size($w,$h:$w)
  width: $w
  height: $h

@mixin bdrs($r:50%)
  border-radius: $r

@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin abCenter($l:50%,$t:$l)
  position: absolute
  left: $l
  top: $t
  transform: translate(-50%,-50%)




@media (min-width: 576px)
  footer.svg-bg .dark-logo
    // background-color: Coral

@media (min-width: 1224px) 
  footer.svg-bg .dark-logo
    // background-color: black
    background-image: url(../images/logo/logo_dark.png) no-repeat



footer.svg-bg
  // margin-top: 800px
  color: $color_secondary
  background-color: transparent
  border: 1px solid #000
  .dark-logo
    background-image: url(../images/svg/svg-check.svg) no-repeat
    background-position: center center
    background-attachment: scroll
    // border: 1px solid gold
    
  & .svg-fromTo-bg
    z-index: -6
    position: absolute
    bottom: 0
    +flexCenter
    & svg
      // transform: scale(1.65)
      min-width: 100vw
      // background-color: gold
    svg path
      fill: $color_dark-add1

footer
  position: relative
  z-index: 1
  +flexCenter
  color: $color_secondary
  background-color: $color_dark-add1
  .dark-logo
    +size(60px)
    aspect-ratio: 1/1
  a
    color: rgba(255, 255, 255, .8)
  .icon-link a
    color: $color_dark-add1

/* 網頁的頁尾(footer) 置聯絡方式 | 著作權宣告----------------------
footer
  display: flex
  justify-content: center
  & .footer-wrap
      width: 100%
      & a:hover
          text-decoration: underline solid currentcolor
      & .top
          // flex-grow: 1
          display: flex
          justify-content: space-between
          padding: 60px 0
          & .right
            display: flex
          & ul
              display: flex
              flex-direction: column
              row-gap: 20px
              padding: 0px 15px
              flex-shrink: 1
              & span
                  font-weight: bold
                  margin-bottom: 5px
          & .icon-link
              display: flex
              column-gap: 10px
              margin-bottom: 10px
              & li
                  background-color: rgba(255, 255, 255, .8)
                  border-radius: $btn_radius
                  display: flex
                  justify-content: center
                  align-items: center
                  width: 26px
                  height: 26px
                  transition: 0.15s ease-in-out
                  &:hover
                    background-color: $color_secondary
          & .disclaimer
              li
                  width: 200px
                  color: rgba(255, 255, 255, .8)
      & .bottom
          border-top: 1px solid $color_border
          margin-top: auto
          padding: 15px 0
          font-size: 16px
          color: rgba(255, 255, 255, .4)
          line-height: 24px
          position: relative
          text-align: center
          // background-color: $color_secondary
          a
            bg
            color: $color_white
            padding: 0 5px
            &[data-google]
                text-decoration: none
