$color_primary: #09adbf
$color_secondary: #ffa700
$color_dark-add1: rgba(70, 64, 116, 1)


$color_white: rgba(#fff,.8)

@mixin size($w,$h:$w)
  width: $w
  height: $h

@mixin bdrs($r:50%)
  border-radius: $r

@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin abCenter($l:50%,$t:$l)
  position: absolute
  left: $l
  top: $t
  transform: translate(-50%,-50%)


// 文字連結
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap')
// font-awesome
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')


// 外聯radio btn 樣式 與打勾動畫
@import url('../css/radio.css')

//- RWD 框架 - 自適應格線系統
@import url('../grid.css')


*
  margin: 0
  padding: 0
  // outline: 2px solid #aaf
  box-sizing: border-box
  content: ''
  &::before,
  &::after
    margin: 0
    padding: 0

:root
  --top-nav-height: 73px
  --first-page-height: 900px
  --bdrs: 20px
  --bxsh-width: 4px 4px
  // --bxsh-width: 0px 0px
  --card-bd: 3px
  --innerbdrs: calc(var(--bdrs) - var(--card-bd))
  --gs-gap: 10px

html
  font-size: 18px
  scroll-behavior: smooth
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

@media screen and (max-width: 768px)
  html
    font-size: 16px

body
  margin: 0
  padding: 0
  font-family: 'Noto Sans TC', sans-serif
  font-weight: 400
  font-size: 1rem
  letter-spacing: 2px
  line-height: calc(1em * 1.8)
  color: $color_dark-add1
  vertical-align: top
button,input
  font-family: 'Noto Sans TC'
img
  vertical-align: bottom
  width: 100%
  object-fit: cover

h1
  // margin: 0
h2,.h2
  font-size: 32px
  line-height: calc(1em * 1.3)
h3,.h3
  font-size: 28px
h4,.h4
  font-size: 24px
h5,.h5
  font-size: 20px
.bold
  font-weight: bold

.caption-regular
  font-size: 14px

.caption-bold
  font-size: 14px
  font-weight: bold

p
  text-align: justify

ul,li
  list-style: none
  margin: 0
  padding: 0
  text-align: justify
input
  font-size: 18px

a
  text-decoration: none

button
  +bdrs(100px)
  padding: 5px 2px
  margin-top: 6px
  /* 是否可以選取或直接全選 | 不選取*/
  user-select: none

mark
  background-color: $color_white
  color: $color_secondary
  border-radius: 5px
  margin: 0 5px
  padding: 0 5px
  text-decoration: underline double currentcolor auto

table
  border-collapse: collapse
td
  vertical-align: middle
  text-align: center
  font-size: 18px


//備註文字大小
sub
  font-size: 14px

// 區塊間距----------------------------
section
  .title-item
    margin-top: 80px
    margin-bottom: 60px
  &.cus-table-out
    margin-bottom: 250px
  &.best-advice
    padding-bottom: 250px

.out-container
  z-index: 1
  /* 半透明線性漸層 */
  background: linear-gradient(214.44deg, rgba(122, 203, 221, 0.5) -16.93%, rgba(160, 227, 242, 0.5) 26.21%, rgba(255, 204, 111, 0.5) 104.89%), #FFFFFF

.avatars
  +flexCenter
  +size(110px)
  +bdrs(60px)
  overflow: hidden
  background: $color_white
  aspect-ratio: 1/1
  img
    height: auto


// 讓滑鼠可以穿越上方元素，點擊到子層的內容

//穿透的 div ( pointer-events ) -> 裝飾的層級不影響滑鼠 
img[alt*="背景"]
  pointer-events: none

.next-page
  height: content-fit

// JS 控制出現更隱藏-----------------------------
.hidden
  pointer-events: none
  opacity: 0
  transition: transform 1s,max-height 1s
  transform: translateY(5em)
  max-height: 0px
  

.auto
  pointer-events: auto
  opacity: 1
  transition: transform 1s, max-height 1s
  transform: translateY(0em)
  max-height: 2000px