doctype html
html(lang='zh-Hant')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 文章頁
    link(rel='icon' href='./images/logo/logo_light.png')
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/header.css')
    link(rel='stylesheet' href='./css/footer.css')
    //- 文章頁樣式連結
    link(rel='stylesheet' href='./css/card.css')
    link(rel='stylesheet' href='./css/article.css')
    link(rel='stylesheet' href='./css/problems.css')
  body
    .out-container
      input#menu-switch(type='checkbox' name='')
      header.main-header.inner-container
        .logo
          a(href='./index.html')
            picture
              source(media='(min-width: 930px)' srcset='./images/logo/logo_long_light.png')
              source(media='(min-width: 768px)' srcset='./images/logo/logo_e.svg')
              img(src='./images/logo/logo_e.svg' alt='電腦夥伴 | Computer Partner')
        label.hb(for='menu-switch')
          span
          span
          span
        nav.main-nav
          a(href='./index.html#answer')
            i.fa-solid.fa-star-of-life
            span 如何開始
          a(href='./custom-setting.html')
            i.fa-solid.fa-screwdriver-wrench
            span 自訂需求
          a(href='./ad-product.html')
            i.fa-solid.fa-magnifying-glass
            span 建議商品
          a(href='./problems.html')
            i.fa-solid.fa-circle-question
            span 常見問題
          a(href='./contact.html')
            i.fa-solid.fa-envelopes-bulk
            span 聯絡我們
      section.article
        // 文章標題
        .title-item
          h2.svg-check
            span 文章
        .inner-container
          .article-out
            // 文章
            .main-article.problem-card
              a(href='./article.html')
                h3 如何選擇最適合您需求的電腦
              img(src="./images/question-5/domenico-loia-hGV2TfOh0ns-unsplash.jpg", alt="封面")
              .row.row-cols-1.g-2
                .col
                  p
                    | 獲得一台新電腦是一種令人興奮的體驗。全新技術的承諾是難以抗拒的。
                    br
                    | 然而，大量的選擇也可能讓您望而生畏，不知道如何選擇合適的產品。如果您希望在選購電腦時做出明智的決策，您來對地方了。以下是我們的幾點建議，可以幫助您了解如何選擇最適合您需求的電腦。
              .row.row-cols-1.row-cols-md-2.row-cols-lg-2.g-2
                .col
                  h5 
                    span 1.
                    | 確定您的需求
                  p
                    | 在選購電腦前，請先確定您的需求。是用於日常工作、娛樂或者是遊戲？您需要處理大量的文件或者是使用較為複雜的軟件嗎？這些因素都會影響您選擇的電腦的規格和價格。
                .col
                  h5 
                    span 2.
                    | 選擇適合的操作系統
                  p
                    | 電腦的操作系統是一個非常重要的因素，它會影響您使用電腦的體驗。Windows、Mac OS和Linux是目前最常見的三種操作系統。請根據您的需求和使用習慣，選擇適合的操作系統。
                .col
                  h5 
                    span 3.
                    | 選擇適合的硬件
                  p
                    | 選擇合適的硬件是選購電腦的關鍵。CPU、內存、硬盤和顯卡都是非常重要的因素，它們決定了電腦的性能和使用體驗。請根據您的需求和預算，選擇合適的硬件配置。
                .col
                  h5 
                    span 4.
                    | 注意產品的品質和售後服務
                  p
                    | 除了硬件配置，產品的品質和售後服務也是選購電腦時需要關注的因素。請選擇知名品牌和可信賴的商家，並關注產品的保修期和售後服務。
              .row.row-cols-1.g-2
                .col
                  h4 總結
                  p
                    | 以上是選購電腦時需要注意的幾個方面。在選擇電腦時，請先確定您的需求，再根據需求選擇適合的操作系統和硬件配置。
      // 頁尾
      footer
        .footer-wrap.inner-container
          .top
              a.dark-logo(href='./index.html')
                picture
                  source(media='(min-width: 930px)' srcset='./images/logo/logo_long_dark.png')
                  //- source(media='(min-width: 768px)' srcset='./images/logo/logo_e.svg')
                  img(src='./images/logo/logo_dark.png' alt='電腦夥伴 | Computer Partner')
              .right 
                ul.txt-link
                  span 電腦夥伴 | Computer Partner
                  li
                    a(href='./index.html#answer')
                      i.fa-solid.fa-check
                      |  如何開始
                  li
                    a(href='./custom-setting.html')
                      i.fa-solid.fa-check
                      |  自訂需求
                  li
                    a(href='./ad-product.html')
                      i.fa-solid.fa-check
                      |  建議商品
                  li
                    a(href='./problems.html')
                      i.fa-solid.fa-check
                      |  常見問題
                  li
                    a(href='./contact.html')
                      i.fa-solid.fa-check
                      |  聯絡我們
                  // <li><a href="#">注意事項</a></li>
                ul
                  span 免責聲明
                  .disclaimer
                    li 
                      i.fa-solid.fa-star-of-life
                      | 產品照僅供參考，規格與售價依實際經銷商販售為準。
                  span 關注我們
                  .icon-link
                    li
                      a(href='#')
                        i.fa-brands.fa-blogger-b
                    li
                      a(href='#')
                        i.fa-brands.fa-facebook-f
                    li
                      a(href='#')
                        i.fa-brands.fa-instagram
                    li
                      a(href='#')
                        i.fa-brands.fa-line
                    li
                      a(href='#')
                        i.fa-brands.fa-youtube
          .bottom
            .inner-container
              | 本網站為緯育TibaMe前端工程師班第83期學員專題作品，本平台僅供學習、展示之用。