doctype html
html(lang='zh-Hant')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title 文章頁
    link(rel='icon' href='./images/logo/logo_light.png')
    link(rel='stylesheet' href='./css/style.css')
    link(rel='stylesheet' href='./css/header.css')
    link(rel='stylesheet' href='./css/footer.css')
    //- 文章頁樣式連結
    link(rel='stylesheet' href='./css/card.css')
    link(rel='stylesheet' href='./css/article.css')
    link(rel='stylesheet' href='./css/problems.css')
  body
    .out-container
      input#menu-switch(type='checkbox' name='')
      header.main-header.inner-container
        .logo
          a(href='./index.html')
            picture
              source(media='(min-width: 930px)' srcset='./images/logo/logo_long_light.png')
              source(media='(min-width: 768px)' srcset='./images/logo/logo_e.svg')
              img(src='./images/logo/logo_e.svg' alt='電腦夥伴 | Computer Partner')
        label.hb(for='menu-switch')
          span
          span
          span
        nav.main-nav
          a(href='./index.html#answer')
            i.fa-solid.fa-star-of-life
            span 如何開始
          a(href='./custom-setting.html')
            i.fa-solid.fa-screwdriver-wrench
            span 自訂需求
          a(href='./ad-product.html')
            i.fa-solid.fa-magnifying-glass
            span 建議商品
          a(href='./problems.html')
            i.fa-solid.fa-circle-question
            span 常見問題
          a(href='./contact.html')
            i.fa-solid.fa-envelopes-bulk
            span 聯絡我們
      section.article
        // 文章標題
        .title-item
          h2.svg-check
            span 文章
        .inner-container
          .article-out
            // 分類標籤按鈕
            .tab-sort.card
              .inner-container
                input#test-photo1(type='radio' name='tab' hidden='' checked='')
                input#test-photo2(type='radio' name='tab' hidden='')
                input#test-photo3(type='radio' name='tab' hidden='')
                input#test-photo4(type='radio' name='tab' hidden='')
                .tab-sort-nav.fxdc
                  label(for='test-photo1')
                    .tab-btn
                      span 全部
                  label(for='test-photo2')
                    .tab-btn
                      span 熱門文章
                  label(for='test-photo3')
                    .tab-btn
                      span 最新文章
                  label(for='test-photo4')
                    .tab-btn
                      span 建議閱讀
                  .search
                    input#search(type='text' name='搜尋' placeholder='搜尋文章')
                    i.fa-solid.fa-magnifying-glass
            .main-article
              // 文章清單
              .problem-card-list
                .problem-card
                  a(href='./article.html')
                    h3 如何選擇最適合您需求的電腦
                  p
                    | 獲得一台新電腦是一種令人興奮的體驗。全新技術的承諾是難以抗拒的。
                    br
                    |                   然而，大量的選擇也可能讓您望而生畏，不知道如何選擇合適的產品。如果您希望在選購電腦時做出明智的決策，您來對地方了。以下是我們的幾點建議，可以幫助您了解如何選擇最適合您需求的電腦。
                  a.bottom-link.turn-next-btn(href='#') 閱讀更多
      // 頁尾
      footer
        .footer-wrap.inner-container
          .top
              a.dark-logo(href='./index.html')
                picture
                  source(media='(min-width: 930px)' srcset='./images/logo/logo_long_dark.png')
                  //- source(media='(min-width: 768px)' srcset='./images/logo/logo_e.svg')
                  img(src='./images/logo/logo_dark.png' alt='電腦夥伴 | Computer Partner')
              .right 
                ul.txt-link
                  span 電腦夥伴 | Computer Partner
                  li
                    a(href='./index.html#answer')
                      i.fa-solid.fa-check
                      |  如何開始
                  li
                    a(href='./custom-setting.html')
                      i.fa-solid.fa-check
                      |  自訂需求
                  li
                    a(href='./ad-product.html')
                      i.fa-solid.fa-check
                      |  建議商品
                  li
                    a(href='./problems.html')
                      i.fa-solid.fa-check
                      |  常見問題
                  li
                    a(href='./contact.html')
                      i.fa-solid.fa-check
                      |  聯絡我們
                  // <li><a href="#">注意事項</a></li>
                ul
                  span 免責聲明
                  .disclaimer
                    li 
                      i.fa-solid.fa-star-of-life
                      | 產品照僅供參考，規格與售價依實際經銷商販售為準。
                  span 關注我們
                  .icon-link
                    li
                      a(href='#')
                        i.fa-brands.fa-blogger-b
                    li
                      a(href='#')
                        i.fa-brands.fa-facebook-f
                    li
                      a(href='#')
                        i.fa-brands.fa-instagram
                    li
                      a(href='#')
                        i.fa-brands.fa-line
                    li
                      a(href='#')
                        i.fa-brands.fa-youtube
          .bottom
            .inner-container
              | 本網站為緯育TibaMe前端工程師班第XX期學員專題作品，本平台僅供學習、展示之用。